.header-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 98px;
  z-index: 9999;
}

.skip-link {
  position: absolute;
  width: 145px;
  font-weight: 700;
  margin-top: 158px;
  margin-left: 20px;
  padding: 5px 7px;
  transform: translateX(-200%);
  transition: transform 0.3s;
}

.skip-link:focus {
  position: static;
  color: var(--light-green);
  outline: 1px solid var(--light-green);
  transform: translateX(0);
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo-img {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  box-shadow: var(--box-shadow-dark-around);
  border: 3px solid var(--border-white);
  ;
}

.logo-caption {
  position: absolute;
  z-index: 2;
  color: var(--gray-60);
  margin-top: -36px;
  margin-left: 10px;
  width: 78px;
  line-height: 1rem;
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(100vw - 118px);
  margin-left: 88px;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width:835px) {
  .nav-items {
    width: 80vw;
  }
}

@media screen and (max-width:570px) {
  .header-container {
    height: 100vh;
  }

  .nav-container {
    align-items: flex-start;
    margin-left: 0
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: 50vh;
  }
}

@media screen and (max-width:520px) {
  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: 50vh;
  }

  .nav-title {
    display: none;
  }
}